@font-face {
	font-family: aargh;
	src: url("font/Aaargh.woff");
}
body {
	background-color: #fff;
	font-family: aargh;
	color: black;
}
.dropdown {
	float: right;
	overflow: hidden;
	display: none;
	padding-top: 30px;
}
#logo {
	width: 150px;
	float: left;
}
#banner {
	padding-top: 100px;
	width: 100%;
	float: left;
}
p {
	font-size: 18px;
}
.text-center {
	text-align: center;
}
h2 {
	float: left;
	position: absolute;
	color: white;
	opacity: 0.8;
	font-size: 80px;
	font-family: lovelyboy;
}

@media screen and (max-width: 800px) {
	.menu {
		display: none;
	}
	.dropdown {
		display: inline-block;
	}
	h2 {
		font-size: 20px;
	}
}
@media (max-width: 400px) {
	#logo {
		width: 80px;
	}
}

@font-face {
	font-family: lovelyboy;
	src: url("font/LovelyBoys.woff");
}
@font-face {
	font-family: kevin;
	src: url("font/BaltimoreBold.woff");
}
.menu {
	padding-top: 30px;
	overflow: hidden;
	z-index: 210;
	position: fixed;
	background: #fff;
	width: 100%;
	height: 80px;
}

a {
	text-decoration: none;
	color: #888888;
	margin-left: 15px;
}
a:hover {
	color: black;
}
.mmenu {
	position: relative;
	display: inline-block;
}
.mmenu a:after {
	content: "";
	position: absolute;
	left: 10px;
	top: 100%;
	width: 0;
	height: 1px;
	background-color: black;
	transition: width 0.3s ease-in-out;
}
.mmenu a:hover:after {
	width: 90%;
}

/* Dropdown button */
.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: rgb(0, 0, 0);
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	margin-left: -100;
}

/* Links inside the dropdown */
.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

.active {
	color: black;
}

.bannerdiv {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	text-align: center;

	min-height: 200px;
	background-color: rgba(33, 33, 33, 0.3);
	align-items: center;
}
.flex {
	display: flex !important;
}
.about-text h4 {
	margin: 48px 0 24px;
}
.signature {
	font-family: kevin;
	font-size: 8px;
	margin-top: 48px;
}
.aboutme {
	width: 100%;
	background-color: #f2f2f2;
}
.contact-title {
	margin-bottom: 48px;
}
.profile {
	width: 200px;
	height: 200px;
	/* margin-left: 10%; */
	margin: 0 auto;
	border-radius: 50%;
	border-color: white;
	border-width: 2px;
	vertical-align: middle;
}

input[type="text"],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type="submit"] {
	background-color: #222;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 24px;
}

input[type="submit"]:hover {
	background-color: #225;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}
.contact-container {
	display: flex;
	flex-wrap: wrap;
}
.container-half {
	padding: 15px;
	width: 100%;
}
.typewriter {
	word-break: break-all;
}
.typewriter h3 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 0.15em solid white; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: 0.15em; /* Adjust as needed */
	word-break: break-word;

	animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: white;
	}
}

.main {
	min-height: 100vh;
	margin-top: 88px;
}
.text-bold {
	font-weight: bold;
}
.text-capitalize {
	text-transform: capitalize;
}
.wrapper {
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: transparent;
}

.section {
	position: relative;
	z-index: 1;
	padding: 128px 48px;
	background-color: #fff;
}
.side-paddings {
	padding-right: 15px;
	padding-left: 15px;
}

.text-white {
	color: white;
}

input:focus-visible,
textarea:focus-visible {
	outline: none;
}

.input.text-area {
	min-height: 200px;
	padding-top: 24px;
	padding-bottom: 24px;
}

@media screen and (max-width: 767px) {
	.section {
		padding-top: 64px;
		padding-bottom: 64px;
	}
	.main {
		margin-top: 60px !important;
	}
}

@media screen and (max-width: 991px) {
	.section {
		padding: 80px 16px;
	}
}
@media screen and (min-width: 1200px) {
	.container-half {
		width: 50% !important;
	}
}
